<p style="text-align: center">
    <span style="background-color: transparent; color: #000000"
        ><strong><u>PERJANJIAN KERJA WAKTU TERTENTU</u></strong></span
    >
</p>
<p style="text-align: center">
    <span style="background-color: transparent; color: #000000"
        ><strong>No.&nbsp;</strong></span
    ><span style="background-color: transparent; color: #ff0000"
        ><strong>URUTAN</strong></span
    ><span style="background-color: transparent; color: #000000"
        ><strong>/PKWT/USI-HRD/</strong></span
    ><span style="background-color: transparent; color: #ff0000"
        ><strong>BULAN</strong></span
    ><span style="background-color: transparent; color: #000000"
        ><strong>/</strong></span
    ><span style="background-color: transparent; color: #ff0000"
        ><strong>TAHUN</strong></span
    >
</p>
<p>&nbsp;</p>
<p style="text-align: justify">
    <span style="background-color: transparent; color: #ff0000"
        >Pada hari ___, tanggal _____ telah dibuat oleh diantara kami yang
        bertandatangan dibawah ini :</span
    >
</p>
<p>&nbsp;</p>
<p style="text-align: justify">
    <span style="background-color: transparent; color: #000000"
        >Nama &nbsp; &nbsp; &nbsp; &nbsp;:&nbsp;</span
    ><br /><span style="background-color: transparent; color: #000000"
        >Jabatan &nbsp; &nbsp;:&nbsp;</span
    >
</p>
<p>&nbsp;</p>
<p style="text-align: justify">
    <span style="background-color: transparent; color: #000000"
        >Dalam hal ini bertindak berdasarkan Surat Kuasa Khusus No.&nbsp;</span
    ><span style="background-color: transparent; color: #ff0000"
        >002/SK/USI-LEGAL/XII/2020</span
    ><span style="background-color: transparent; color: #000000">
        pada tanggal</span
    ><span style="background-color: transparent; color: #ff0000">
        11 Desember 2020</span
    ><span style="background-color: transparent; color: #000000">
        yang ditandatangani oleh Direksi, oleh karenanya bertindak untuk dan
        atas nama Direksi PT. UNITED SHIPPING INDONESIA, serta sah mewakili PT.
        UNITED SHIPPING INDONESIA, suatu Perseroan Terbatas yang didirikan dan
        telah memperoleh status badan hukum berdasarkan hukum dan peraturan
        Perundang-undangan yang berlaku di Indonesia, berkedudukan di Jl.
        Gondosuli No. 8 Surabaya;</span
    >
</p>
<p style="text-align: justify">
    <span style="background-color: transparent; color: #000000"
        >Selanjutnya disebut
        sebagai--------------------------------------------------------------------“Pihak
        Pertama”.</span
    >
</p>
<p>&nbsp;</p>
<p style="text-align: justify">
    <span style="background-color: transparent; color: #000000"
        >Dengan,&nbsp;</span
    ><br />&nbsp;
</p>
<p style="text-align: justify">
    <span style="background-color: transparent; color: #000000"
        >Nama &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;:&nbsp;</span
    ><br /><span style="background-color: transparent; color: #000000"
        >NIK &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        :&nbsp;</span
    ><br /><span style="background-color: transparent; color: #000000"
        >Alamat &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;:&nbsp;</span
    ><br /><span style="background-color: transparent; color: #000000"
        >Unit Kerja &nbsp; &nbsp; :&nbsp;</span
    ><br /><span style="background-color: transparent; color: #000000"
        >Jabatan &nbsp; &nbsp; &nbsp; &nbsp;:&nbsp;</span
    >
</p>
<p>&nbsp;</p>
<p style="text-align: justify">
    <span style="background-color: transparent; color: #000000"
        >Dalam hal ini bertindak untuk dan atas nama diri sendiri sebagai
        karyawan dan dalam lingkungan kerja Manajemen PT. UNITED SHIPPING
        INDONESIA; Selanjutnya dalam hal ini disebut sebagai
        -----------------------------------------------------“Pihak
        Kedua”.</span
    >
</p>
<p>&nbsp;</p>
<p style="text-align: justify">
    <span style="background-color: transparent; color: #000000"
        >Para Pihak dengan ini menyatakan terlebih dahulu :&nbsp;</span
    >
</p>
<ol>
    <li>
        <span style="background-color: transparent; color: #000000"
            >Pihak Pertama membutuhkan bantuan terkait dengan pekerjaan di
            bidang usaha Pihak Pertama;</span
        >
    </li>
    <li>
        <span style="background-color: transparent; color: #000000"
            >Pihak Kedua adalah diakui oleh hukum sebagai tenaga kerja dan
            karena kemampuannya dapat bekerja;</span
        >
    </li>
    <li>
        <span style="background-color: transparent; color: #000000"
            >Pihak Pertama bersedia menerima Pihak Kedua sebagai pekerja di
            lokasi usaha Pihak Pertama;</span
        >
    </li>
    <li>
        <span style="background-color: transparent; color: #000000"
            >Pihak Kedua bersedia untuk melaksanakan pekerjaan sebagaimana
            dimaksud pada Point 3 (tiga) pada Pihak Pertama;</span
        >
    </li>
</ol>
<p>&nbsp;</p>
<p style="text-align: justify">
    <span style="background-color: transparent; color: #000000"
        >Berdasarkan pertimbangan-pertimbangan tersebut diatas, maka Para Pihak
        dengan ini menyatakan setuju dan sepakat untuk saling mengikat diri
        membuat Perjanjian Kerja (selanjutnya disingkat “Perjanjian”) dengan
        ketentuan dan syarat-syarat sebagaimana diuraikan dalam pasal-pasal
        berikut :</span
    >
</p>
<p>&nbsp;</p>
<p style="text-align: center">
    <span style="background-color: transparent; color: #000000"
        ><strong>Pasal 1</strong></span
    >
</p>
<p style="text-align: center">
    <span style="background-color: transparent; color: #000000"
        ><strong>Ketentuan Umum</strong></span
    >
</p>
<p style="text-align: center">&nbsp;</p>
<p>
    <span style="background-color: transparent; color: #000000"
        >Pihak Pertama adalah Perusahaan yang bergerak di bidang :</span
    >
</p>
<p style="margin-left: -18pt">&nbsp;</p>
<ol>
    <li>
        <p style="margin-left: 18pt">
            <span style="background-color: transparent; color: #000000"
                >Perdagangan Besar Bahan Bakar Padat, Cair Dan Gas Dan Produk
                Ybdi;</span
            >
        </p>
    </li>
    <li>
        <p style="margin-left: 18pt">
            <span style="background-color: transparent; color: #000000"
                >Angkutan Bermotor Untuk Barang Khusus;</span
            >
        </p>
    </li>
    <li>
        <p style="margin-left: 18pt">
            <span style="background-color: transparent; color: #000000"
                >Angkutan Laut Dalam Negeri Untuk Barang Khusus;</span
            >
        </p>
    </li>
    <li>
        <p style="margin-left: 18pt">
            <span style="background-color: transparent; color: #000000"
                >Pihak Kedua adalah orang perorangan yang dalam hal ini
                dinyatakan sebagai subyek hukum yang dapat mewakili dirinya
                sendiri untuk melakukan perbuatan hukum;</span
            >
        </p>
    </li>
    <li>
        <p style="margin-left: 18pt">
            <span style="background-color: transparent; color: #000000"
                >Perjanjian Kerja adalah Perjanjian yang dibuat antara Pihak
                Pertama dan Pihak Kedua yang memuat syarat-syarat kerja, hak dan
                kewajiban;</span
            >
        </p>
    </li>
    <li>
        <p style="margin-left: 18pt">
            <span style="background-color: transparent; color: #000000"
                >Para Pihak adalah Pihak Pertama dengan Pihak Kedua secara
                bersama-sama;</span
            >
        </p>
    </li>
</ol>
<p>&nbsp;</p>
<p style="text-align: center">
    <span style="background-color: transparent; color: #000000"
        ><strong>Pasal 2</strong></span
    >
</p>
<p style="margin-left: 36pt; text-align: center">
    <span style="background-color: transparent; color: #000000"
        ><strong>Jenis Pekerjaan Dan Tempat Pekerjaan</strong></span
    >
</p>
<p>
    <span style="background-color: transparent; color: #ff0000"
        >Pihak Pertama memberikan pekerjaan kepada Pihak Kedua
        sebagai&nbsp;</span
    >
</p>
<ol>
    <li>
        <span style="background-color: transparent; color: #000000"
            >Pihak Pertama menempatkan dan mempekerjakan Pihak Kedua sebagai
            karyawan dalam ruang lingkup kerja manajemen PT. UNITED SHIPPING
            INDONESIA, sesuai dengan Job Description yang telah di tetapkan dan
            Pihak Kedua akan melaksanakan tugas pekerjaan tersebut dengan
            sebaik-baiknya;</span
        >
    </li>
    <li>
        <span style="background-color: transparent; color: #000000"
            >Pihak Kedua dengan ini menyatakan setuju dan sepakat bahwa Pihak
            Kedua bersedia untuk mengikuti seluruh perintah kerja yang
            diperintahkan oleh Pihak Pertama;</span
        >
    </li>
    <li>
        <span style="background-color: transparent; color: #000000"
            >Bila dipandang perlu Pihak Pertama dapat menempatkan dan/atau
            memindahkan Pihak Kedua dari satu tempat ketempat lain dalam
            lingkungan manajemen PT. UNITED SHIPPING INDONESIA, dan Pihak Kedua
            harus bersedia menjalankan perintah sesuai kebutuhan dan keputusan
            Manajemen;</span
        >
    </li>
</ol>
<p style="text-align: center">
    <span style="background-color: transparent; color: #000000"
        ><strong>Pasal 3</strong></span
    >
</p>
<p style="text-align: center">
    <span style="background-color: transparent; color: #000000"
        ><strong>Ruang Lingkup Pekerjaan</strong></span
    >
</p>
<ol>
    <li>
        <span style="background-color: transparent; color: #000000"
            >Pihak Kedua memastikan terhadap aspek&nbsp;</span
        ><span style="background-color: transparent; color: #ff0000"
            >administrasi laporan keuangan</span
        ><span style="background-color: transparent; color: #000000">
            milik Pihak Pertama;</span
        >
    </li>
    <li>
        <span style="background-color: transparent; color: #000000"
            >Pihak Kedua membuat dan melakukan&nbsp;</span
        ><span style="background-color: transparent; color: #ff0000"
            >laporan keuangan</span
        ><span style="background-color: transparent; color: #000000">
            kepada masing-masing PIC untuk dapat dilaporkan kepada Pihak
            Pertama;</span
        >
    </li>
    <li>
        <span style="background-color: transparent; color: #000000"
            >Pihak Kedua bertanggung jawab atas segala data dan&nbsp;</span
        ><span style="background-color: transparent; color: #ff0000"
            >laporan administrasi keuangan</span
        ><span style="background-color: transparent; color: #000000">
            milik Pihak Pertama;</span
        >
    </li>
    <li>
        <span style="background-color: transparent; color: #000000"
            >Proses administrasi yang terjadi dibagian&nbsp;</span
        ><span style="background-color: transparent; color: #ff0000"
            >laporan keuangan</span
        ><span style="background-color: transparent; color: #000000">
            sebagaimana dimaksud pada Ayat 1 (satu) Pasal ini berdasarkan
            instruksi kerja yang ditetapkan Pihak Pertama kepada Pihak
            Kedua;</span
        >
    </li>
</ol>
<p style="text-align: center">
    <span style="background-color: transparent; color: #000000"
        ><strong>Pasal 4</strong></span
    >
</p>
<p style="text-align: center">
    <span style="background-color: transparent; color: #000000"
        ><strong>Jangka Waktu Perjanjian</strong></span
    >
</p>
<ol>
    <li>
        <span style="background-color: transparent; color: #ff0000"
            >Pihak Pertama dengan ini menyatakan setuju dan sepakat bahwa
            Perjanjian kesepakatan kerja ini dibuat&nbsp; berlaku&nbsp; untuk
            jangka waktu __ (_____) bulan/tahun semenjak tanggal&nbsp;
            __________&nbsp; sampai dengan __________;</span
        >
    </li>
    <li>
        <span style="background-color: transparent; color: #000000"
            >Apabila dikemudian hari Perjanjian ini telah habis masa berlakunya,
            maka Para Pihak dapat melakukan perpanjangan Perjanjian kerja yang
            baru atas dasar kesepakatan Bersama;</span
        >
    </li>
</ol>
<p>&nbsp;</p>
<p style="text-align: center">
    <span style="background-color: transparent; color: #000000"
        ><strong>Pasal 5</strong></span
    >
</p>
<p style="text-align: center">
    <span style="background-color: transparent; color: #000000"
        ><strong>Besar Upah Dan Cara Bayar</strong></span
    >
</p>
<ol>
    <li>
        <p style="text-align: justify">
            <span style="background-color: transparent; color: #000000"
                >Pembayaran upah sebagaimana dimaksud pada Perjanjian ini adalah
                sebagai berikut:</span
            >
        </p>
    </li>
    <li>
        <p style="text-align: justify">
            <span style="background-color: transparent; color: #000000"
                >Besarnya upah yang akan diterima oleh Pihak Kedua disepakati
                dalam kesepakatan tersendiri oleh kedua belah pihak baik
                disepakati secara lisan dan/atau tertulis;</span
            >
        </p>
    </li>
    <li>
        <p style="text-align: justify">
            <span style="background-color: transparent; color: #000000"
                >Berdasarkan Ayat a Pasal ini Pihak Kedua akan menerima
                pembayaran per bulan, sudah termasuk uang makan dan
                tunjangan;</span
            >
        </p>
    </li>
    <li>
        <p style="text-align: justify">
            <span style="background-color: transparent; color: #000000"
                >Pembayaran upah pada bulan berjalan akan dibayarkan oleh Pihak
                Pertama kepada Pihak Kedua setiap tanggal 1 (satu) atau selambat
                lambatnya tanggal 5 (lima) bulan berikutnya melalui Account Bank
                yang dimiliki oleh Pihak Kedua;</span
            >
        </p>
    </li>
    <li>
        <p style="text-align: justify">
            <span style="background-color: transparent; color: #000000"
                >Berdasarkan Ayat b Pihak Kedua diwajibkan membuka tabungan di
                Bank yang bekerjasama dengan perusahaan untuk pembayaran
                upah;</span
            >
        </p>
    </li>
</ol>
<p>&nbsp;</p>
<p style="margin-left: 18pt; text-align: center">
    <span style="background-color: transparent; color: #000000"
        ><strong>Pasal 6</strong></span
    >
</p>
<p style="margin-left: 18pt; text-align: center">
    <span style="background-color: transparent; color: #000000"
        ><strong>Waktu Kerja Dan Cuti Ijin Kerja</strong></span
    >
</p>
<ol>
    <li>
        <p style="text-align: justify">
            <span style="background-color: transparent; color: #000000"
                >Pihak Kedua akan bekerja sesuai dengan pengaturan yang
                ditetapkan Pihak Pertama dengan tetap mengacu pada ketentuan
                yang berlaku yakni 5 (lima) hari kerja dan 2 (dua) hari off
                sesuai dengan ketentuan yang ditetapkan perusahaan;</span
            >
        </p>
    </li>
    <li>
        <p style="text-align: justify">
            <span style="background-color: transparent; color: #000000"
                >Ijin meninggalkan tempat kerja, ijin datang terlambat, baik
                dengan upah penuh maupun tanpa upah penuh diatur dan
                dilaksanakan dengan ketentuan Perusahaan yang berlaku;</span
            >
        </p>
    </li>
    <li>
        <p style="text-align: justify">
            <span style="background-color: transparent; color: #000000"
                >Ketidakhadiran baik izin dan/atau sakit akan dipotong kecuali
                melampirkan Surat Keterangan Dokter dan melampirkan Resep Obat
                yang telah diberikan Dokter;</span
            >
        </p>
    </li>
    <li>
        <p style="text-align: justify">
            <span style="background-color: transparent; color: #000000"
                >Pihak Kedua akan bekerja sesuai dengan pengaturan yang
                ditetapkan Pihak Pertama dengan tetap mengacu pada ketentuan
                yang berlaku yakni 5 (lima) hari kerja dan 2 (dua) hari off
                sesuai dengan ketentuan yang ditetapkan perusahaan;</span
            >
        </p>
    </li>
    <li>
        <p style="text-align: justify">
            <span style="background-color: transparent; color: #000000"
                >Manakala Pihak Kedua tidak dapat melaksanakan pekerjaan pada
                hari dimana Pihak Kedua berhalangan, maka Pihak Kedua wajib
                memberitahukan kepada Pihak Pertama dan/atau wakil Pihak Pertama
                pada lokasi usaha yang ditunjuk oleh Pihak Pertama paling lambat
                1 (satu) hari sebelum ijin dilakukan maka Pihak Kedua bersedia
                untuk tidak menerima perhitungan dan/atau menerima pembayaran
                upah oleh Pihak Pertama untuk hari kerja tersebut;</span
            >
        </p>
    </li>
</ol>
<p>&nbsp;</p>
<p style="margin-left: 18pt; text-align: center">
    <span style="background-color: transparent; color: #000000"
        ><strong>Pasal 7</strong></span
    >
</p>
<p style="margin-left: 18pt; text-align: center">
    <span style="background-color: transparent; color: #000000"
        ><strong>Pernyataan Dan Jaminan</strong></span
    >
</p>
<p>
    <span style="background-color: transparent; color: #000000"
        >Pihak Kedua menjamin kepada Pihak Pertama bahwa&nbsp;</span
    >
</p>
<ol>
    <li>
        <p style="text-align: justify">
            <span style="background-color: transparent; color: #000000"
                >Pihak Kedua menjamin untuk tidak memindahkan dan/atau
                mengalihkan pekerjaannya tanpa persetujuan Pihak Pertama;</span
            >
        </p>
    </li>
    <li>
        <p style="text-align: justify">
            <span style="background-color: transparent; color: #000000"
                >Pihak Kedua dan/atau Pekerja Pihak Kedua memiliki ijin yang
                dibutuhkan untuk melaksanakan Pekerjaan sebagaimana dimaksud
                pada Perjanjian ini;</span
            >
        </p>
    </li>
    <li>
        <p style="text-align: justify">
            <span style="background-color: transparent; color: #000000"
                >Segala kerugian yang timbul akibat kesalahan dan/atau kelalaian
                Pihak Kedua dalam memenuhi kewajiban Pihak Kedua sebagaimana
                dimaksud dalam Perjanjian ini merupakan tanggung jawab
                sepenuhnya dari Pihak Kedua;</span
            >
        </p>
    </li>
    <li>
        <p style="text-align: justify">
            <span style="background-color: transparent; color: #000000"
                >Pihak Kedua tidak akan menuntut baik secara perdata dan/atau
                pidana Pihak Pertama dalam hal Pihak Pertama melakukan pemutusan
                sepihak dan sewaktu-waktu sesuai dengan Pasal 9 (sembilan)
                Perjanjian ini;</span
            >
        </p>
    </li>
    <li>
        <p style="text-align: justify">
            <span style="background-color: transparent; color: #000000"
                >Pihak Kedua memastikan semua data dan/atau informasi yang
                terkait perusahaan Pihak Pertama tidak dipergunakan untuk
                hal-hal diluar kepentingan Pihak Pertama;</span
            >
        </p>
    </li>
    <li>
        <p style="text-align: justify">
            <span style="background-color: transparent; color: #000000"
                >Pihak Kedua wajib untuk mematuhi segala tata tertib yang
                berlaku di Perusahaan. Apabila Pihak Kedua melakukan tindakan
                Indisipliner dan/atau menentang Peraturan Perusahaan sehingga
                Pihak Pertama dapat menerbitkan Surat Peringatan (SP I, SP II,
                SP III);</span
            >
        </p>
    </li>
    <li>
        <p style="text-align: justify">
            <span style="background-color: transparent; color: #000000"
                >Apabila Pihak Kedua yang di maksud dalam point f dalam pasal
                ini telah mendapatkan SP III, dan/atau hasil evaluasi kerja
                tidak sesuai dengan standar Perusahaan maka Pihak Kedua secara
                sukarela untuk mengundurkan diri dan tidak menuntut hal apapun
                kepada Pihak Pertama;</span
            >
        </p>
    </li>
    <li>
        <p style="text-align: justify">
            <span style="background-color: transparent; color: #000000"
                >Pihak Kedua memiliki kecakapan dan wewenang secara hukum untuk
                dapat menandatangani Perjanjian ini dan melaksanakan
                kewajibannya berdasarkan Perjanjian ini dan telah mengambil
                langkah-langkah yang seharusnya diambil untuk mengesahkan
                dirinya untuk melaksanakan Perjanjian ini;</span
            >
        </p>
    </li>
    <li>
        <p style="text-align: justify">
            <span style="background-color: transparent; color: #ff0000"
                >Pihak Kedua bertanggung jawab atas segala tindakan yang
                dilakukan sebagai __________</span
            >
        </p>
    </li>
</ol>
<p>&nbsp;</p>
<p style="text-align: center">
    <span style="background-color: transparent; color: #000000"
        ><strong>Pasal 8</strong></span
    >
</p>
<p style="text-align: center">
    <span style="background-color: transparent; color: #000000"
        ><strong>Tata Tertib Kerja</strong></span
    >
</p>
<ol>
    <li>
        <p style="text-align: justify">
            <span style="background-color: transparent; color: #000000"
                >Selama berlakunya Kesepakatan Kerja Pihak Kedua berkewajiban
                menaati dan melakukan semua ketentuan tata tertib Perusahaan
                sebagaimana yang telah diatur dalam Perjanjian Kerja ini;</span
            >
        </p>
    </li>
    <li>
        <p style="text-align: justify">
            <span style="background-color: transparent; color: #000000"
                >Apabila Pihak Kedua mengundurkan diri maka minimal 1 (satu)
                bulan harus sudah mengajukan pengunduran diri dan bersedia
                mencarikan dan/atau menunggu penggantinya ada serta memberikan
                training sampai benar-benar siap ditinggalkan;</span
            >
        </p>
    </li>
    <li>
        <p style="text-align: justify">
            <span style="background-color: transparent; color: #000000"
                >Apabila Pihak Kedua mengalami pemutusan hubungan kerja dan/atau
                mengajukan pengunduran diri, maka Pihak Kedua wajib memberikan
                Surat Pengunduran Diri yang kemudian diberikan kepada Pihak
                Pertama;</span
            >
        </p>
    </li>
    <li>
        <p style="text-align: justify">
            <span style="background-color: transparent; color: #000000"
                >Apabila Pihak Kedua tidak memberikan Surat Pengunduran Diri
                maka Pihak Kedua tidak berhak untuk mendapatkan Surat Keterangan
                Kerja yang diterbitkan oleh Pihak Pertama;</span
            >
        </p>
    </li>
    <li>
        <p style="text-align: justify">
            <span style="background-color: transparent; color: #000000"
                >Pihak Kedua tidak diperkenankan membocorkan rahasia Perusahaan
                kepada pihak lain, melakukan perbuatan yang merugikan
                Perusahaan, melakukan tindakan kriminal (pemalsuan data
                Perusahaan, mencuri barang milik Perusahaan yang menimbulkan
                urusan dengan kepolisian), maka Pihak Pertama berhak memutuskan
                hubungan kerja tanpa syarat apapun kepada Pihak Kedua;</span
            >
        </p>
    </li>
    <li>
        <p style="text-align: justify">
            <span style="background-color: transparent; color: #000000"
                >Tindakan yang dimaksud dalam Ayat 5 (tiga) Pasal ini yang
                mewajibkan Pihak Kedua untuk mengganti seluruh biaya yang
                ditimbulkan dari kerugian tersebut sebanyak 10 (sepuluh) kali
                lipat dari jumlah biaya kerugian kepada Pihak Pertama dan Pihak
                Pertama berhak untuk memberhentikan secara sepihak tanpa adanya
                pesangon;&nbsp;</span
            >
        </p>
    </li>
</ol>
<p>&nbsp;</p>
<p style="text-align: center">
    <span style="background-color: transparent; color: #000000"
        ><strong>Pasal 9</strong></span
    >
</p>
<p style="text-align: center">
    <span style="background-color: transparent; color: #000000"
        ><strong>Pemutusan Perjanjian</strong></span
    >
</p>
<p style="text-align: justify">
    <span style="background-color: transparent; color: #000000"
        >Pihak Pertama berhak memutuskan atau mengakhiri Perjanjian ini secara
        sepihak dan sewaktu-waktu sebelum berakhirnya Perjanjian apabila
        :&nbsp;</span
    >
</p>
<ol>
    <li>
        <p style="text-align: justify">
            <span style="background-color: transparent; color: #000000"
                >Pihak Kedua melakukan Wanprestasi terhadap sebagian atau
                seluruh Perjanjian ini;</span
            >
        </p>
    </li>
    <li>
        <p style="text-align: justify">
            <span style="background-color: transparent; color: #000000"
                >Melakukan pelanggaran baik terhadap keseluruhan maupun sebagian
                ketentuan Perjanjian ini;&nbsp;</span
            >
        </p>
    </li>
    <li>
        <p style="text-align: justify">
            <span style="background-color: transparent; color: #000000"
                >Pihak Kedua melakukan segala hal yang secara langsung maupun
                tidak langsung menghambat, menghentikan dan/atau mengganggu;
                dan/atau berpotensi menghambat, menghentikan dan/atau
                penyelesaian pengiriman;</span
            >
        </p>
    </li>
    <li>
        <p style="text-align: justify">
            <span style="background-color: transparent; color: #000000"
                >Apabila Pihak Kedua mendapatkan Surat Peringatan ketiga (SP
                III);&nbsp;</span
            >
        </p>
    </li>
    <li>
        <p style="text-align: justify">
            <span style="background-color: transparent; color: #000000"
                >Dalam hal terjadinya pemutusan sepihak oleh Pihak Pertama
                sesuai dengan ayat 1 (satu) Pasal ini, Pihak Kedua menerima
                keputusan tersebut dengan jelas dan tegas dan Pihak Kedua setuju
                untuk tidak melakukan gugatan dalam bentuk apapun dan kapanpun
                setelah Perjanjian ditandatangani maupun setelah berakhirnya
                Perjanjian ini kepada Pihak Pertama;</span
            >
        </p>
    </li>
    <li>
        <p style="text-align: justify">
            <span style="background-color: transparent; color: #000000"
                >Pihak Kedua wajib untuk mematuhi segala tata tertib yang
                berlaku di Perusahaan. Apabila Pihak Kedua melakukan tindakan
                Indisipliner dan/atau menentang Peraturan Perusahaan dan/atau
                merugikan Pihak Pertama yang mengakibatkan Pihak Pertama
                mengalami kerugian maka Pihak Pertama dapat menerbitkan Surat
                Peringatan (SP I, SP II, SP III);</span
            >
        </p>
    </li>
    <li>
        <p style="text-align: justify">
            <span style="background-color: transparent; color: #000000"
                >Apabila Pihak Kedua yang di maksud dalam Ayat 3 (tiga) dalam
                Pasal ini telah mendapatkan SP III, dan/atau hasil evaluasi
                kerja tidak sesuai dengan standar Perusahaan maka Pihak Kedua
                secara sukarela untuk mengundurkan diri dan tidak menuntut hal
                apapun kepada Pihak Pertama;</span
            >
        </p>
    </li>
    <li>
        <p style="text-align: justify">
            <span style="background-color: transparent; color: #000000"
                >Apabila masa Perjanjian kerja ini berakhir, maka Pihak Kedua
                tidak berhak menuntut dalam bentuk apapun kepada Pihak Pertama
                terkecuali hak upah yang belum terbayar;</span
            >
        </p>
    </li>
    <li>
        <p style="text-align: justify">
            <span style="background-color: transparent; color: #000000"
                >Apabila Pihak Kedua mengundurkan diri&nbsp; sebelum&nbsp;
                kesepakatan kerja ini&nbsp; berakhir, maka Pihak Kedua yang
                mengundurkan diri sebelum masa kerja berakhir tidak berhak atas
                rekomendasi dalam bentuk apapun;</span
            >
        </p>
        <p style="text-align: center">&nbsp;</p>
    </li>
</ol>
<p style="text-align: center">
    <span style="background-color: transparent; color: #000000"
        ><strong>Pasal 1</strong></span
    >
</p>
<p style="text-align: center">
    <span style="background-color: transparent; color: #000000"
        ><strong>Sanksi Dan Denda</strong></span
    >
</p>
<p style="text-align: justify">
    <span style="background-color: transparent; color: #000000"
        >Para Pihak dengan ini menyatakan setuju dan sepakat bahwa Pihak Pertama
        berhak memutuskan Perjanjian ini secara sepihak dan sewaktu-waktu, jika
        pekerjaan Pihak Kedua kurang memuaskan dan/atau tidak sesuai dengan
        spesifikasi yang sudah ditetapkan Pihak Pertama dan pekerjaan tersebut
        akan dilimpahkan kepada pihak lain;</span
    >
</p>
<p style="text-align: center">
    <span style="background-color: transparent; color: #000000"
        ><strong>Pasal 11</strong></span
    >
</p>
<p style="text-align: center">
    <span style="background-color: transparent; color: #000000"
        ><strong>Penyelesaian Perselisihan&nbsp;</strong></span
    >
</p>
<ol>
    <li>
        <p style="text-align: justify">
            <span style="background-color: transparent; color: #000000"
                >Apabila terjadi perselisihan mengenai interpretasi maupun
                implementasi Perjanjian ini. Maka Para Pihak setuju dan sepakat
                untuk menyelesaikan secara kekeluargaan dan mengambil jalan
                musyawarah untuk mufakat;</span
            >
        </p>
    </li>
    <li>
        <p style="text-align: justify">
            <span style="background-color: transparent; color: #000000"
                >Jika upaya yang di maksud dalam Ayat 1 (satu) Pasal ini telah
                dilakukan namun tidak menghasilkan perdamaian, maka Para Pihak
                setuju dan sepakat untuk memilih menyelesaikan perselisihan
                tersebut melalui Kepaniteraan Pengadilan Negeri Surabaya,
                sebagai tempat kedudukan atau domisili hukum yang tetap;</span
            >
        </p>
    </li>
</ol>
<p>&nbsp;</p>
<p style="text-align: justify">
    <span style="background-color: transparent; color: #000000"
        >Demikian Perjanjian ini dibuat dan ditandatangani oleh Para Pihak
        sebagai bukti bagi Para Pihak, dalam keadaan sadar, sehat jasmani dan
        rohani, tanpa ada tekanan dan/atau paksaan dari pihak manapun dan
        ditandatangani oleh Para Pihak untuk dilaksanakan dengan itikad baik dan
        penuh tanggung jawab.&nbsp;</span
    >
</p>
<p>&nbsp;</p>
<p style="text-align: justify">
    <span style="background-color: transparent; color: #000000"
        ><strong>Surabaya, __________</strong></span
    >
</p>
<p style="text-align: justify">
    <span style="background-color: transparent; color: #000000"
        ><strong
            >Pihak Pertama, &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Pihak Kedua,</strong
        ></span
    >
</p>
<p style="text-align: justify">
    <span style="background-color: transparent; color: #000000"
        ><strong>PT. United Shipping Indonesia&nbsp;</strong></span
    >
</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p style="text-align: justify">
    <span style="background-color: transparent; color: #000000"
        ><strong
            ><u>Haryati</u> <u>______________ </u>HRD &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp;Pekerja</strong
        ></span
    >
</p>
